* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.side-bar {
    padding: 10px;
    background: rgb(247, 245, 245);
}

.menu-one, .menu-listed {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.menu-one {
    color: gray;
}

.menu-listed {
    /* padding-top: 20px; */
}

.nav-babe h1 {
    text-align: center;
    padding: 40px;
}

.menu-listed, .other {
    color: gray;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 25px;
}

.ri-layout-masonry-fill, .ri-user-add-fill, .ri-calendar-event-line, .ri-team-fill, .ri-record-circle-fill, .ri-customer-service-line, .ri-settings-3-fill {
    padding-right: 10px;
    font-size: 20px;
}

.dashboard {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px; 
    margin-top: 25px;
    align-items: center;
}

.border {
    border-bottom: 1px solid rgb(189, 186, 186);
    padding-top: 20px;
    margin-left: 50px;
}

.contain-search {
    position: relative;
}

.contain-search input {
    padding: 10px;
    background: rgb(245, 242, 242);
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid rgb(230, 224, 224);
    width: 320px;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

.contain-search input:focus {
    outline: none;
}

.ri-search-line {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: gray;
}

.profile {
    display: flex;
    padding-right: 50px;
    /* align-items: center; */
}

.profile-babe {
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.profile img {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin-left: 15px;
}

.ri-message-2-line {
    font-size: 23px;
    padding-left: 15px;
    color: gray;
}

.ri-notification-4-fill, .ri-arrow-down-s-line {
    font-size: 23px;
    color: gray;
}

.dashboard2 {
    padding-left: 50px;
    padding-top: 30px;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 40px;
}

.card-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 650px;
}

.first-div {
  background: rgb(252, 193, 202);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.first-div h1 {
  font-size: 20px;
  padding-bottom: 15px;
  font-weight: 500;
}

.first-div p {
  color: red;
}

.first-div h2 {
  font-size: 40px;
  padding-bottom: 15px;
}

.second-div {
  background: lightblue;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.second-div h1 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 500;
}

.second-div h2 {
  font-size: 45px;
  padding-bottom: 15px;
}

.second-div p {
  color: rgb(73, 73, 246);
}

.third-div h1 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 500;
}

.third-div p {
  color: rgb(246, 95, 95);
}

.third-div h2 {
  font-size: 45px;
  padding-bottom: 15px;
}

.third-div {
  background: rgb(252, 187, 252);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.third-div p {
  color: deeppink;
}

.second-role {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fourth-div {
  border: 1px solid rgb(169, 164, 164);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.fourth-div h1 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

.women {
  padding-top: 10px;
}

.first-flex h2 {
  font-size: 40px;
  padding-bottom: 25px;
}

.graph p {
  background: peachpuff;
  padding-top: 190px;
  border-radius: 5px;
  padding: 5px;
}

.fifth-div {
  border: 1px solid rgb(169, 164, 164);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.fifth-div h1 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.flex-it {
  display: flex;
  justify-content: space-between;
}

.women {
  padding-top: 10px;
}

.first-flex h2 {
  font-size: 40px;
  padding-bottom: 25px;
}

.graph img {
    padding-bottom: 20px;
}

.graph p {
  background: peachpuff;
  border-radius: 5px;
  padding: 5px;
}

.flex-it2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-it2 h1 {
  font-size: 16px;
  font-weight: 500;
}

.seventh-div {
  border: 1px solid rgb(169, 164, 164);
  padding: 20px;
  border-radius: 10px;
  background: rgb(19, 19, 65);
  color: white;
}

.time {
  font-size: 10px;
  padding-bottom: 10px;
}

.post {
  padding-bottom: 20px;
  font-size: 20px;
}

.todo {
  padding-bottom: 20px;
  font-size: 13px;
}

.activity {
  font-size: 15px;
}

.top {
  background: rgb(34, 34, 94);
  font-size: 20px;
  margin-bottom: 20px;
}

.activity-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.button2 button {
  padding: 10px;
  background: rgb(249, 56, 56);
  border: none;
  border-radius: 3px;
  color: white;
}






.end {
  margin-top: 20px;
  border: 1px solid rgb(169, 164, 164);
  border-radius: 10px;
  padding: 15px;
}

.end-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-child h3 {
  font-size: 20px;
}

.end-child {
  margin-bottom: 25px;
}

.date2 {
  border: 1px solid rgb(169, 164, 164);
  font-size: 10px;
  padding: 4px;
}

.other {
    padding-top: 15px;
    margin-bottom: 20px;
}

.other2 {
    padding-top: 15px;
    color: black;
}

.ri-arrow-down-s-line {
    font-size: 20px;
}

.second-child {
  border: 1px solid rgb(169, 164, 164);
  border-radius: 10px;
  padding: 10px;
}

.third-flex,
.fourth {
  border: 1px solid rgb(169, 164, 164);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.fourth {
  padding: 10px;
}

.flex-one,
.flex3,
.flex4 {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.flex-one p,
.flex3 p,
.flex4 p {
  font-size: 10px;
}

.button3 {
  position: relative;
}

.button3 button {
  position: absolute;
  color: rgb(249, 56, 56);
  width: 100%;
  margin: auto auto 0 auto;
  inset: 0;
  height: fit-content;
  border: none;
  border: 1px solid rgb(169, 164, 164);
  padding: 0.4rem;
  background: #fcfaff;
  font-weight: 600;
  border-radius: 0px 0px 10px 10px;
  /* border-radius: none; */
}

.other,
.other2,
.priority {
  padding-top: 10px;
  padding-bottom: 7px;
}

.fourth2 {
    border: 1px solid rgb(169, 164, 164);
    border-radius: 10px;
    padding-top: 10px;
}




.sixth-div {
  border: 1px solid rgb(169, 164, 164);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.contain {
  display: flex;
  justify-content: space-between;
}

.another-child {
  display: flex;
}

.ri-pushpin-fill,
.ri-more-fill {
  font-size: 20px;
  color: gray;
}

.ri-more-fill {
  padding-left: 10px;
}

.one,
.two,
.three {
  border: 1px solid rgb(169, 164, 164);
  background: rgb(245, 243, 243);
  padding: 10px;
  border-radius: 10px;
}

.one {
  margin-top: 20px;
}

.two,
.three {
  margin-top: 10px;
}

.three {

}

.one-child p,
.two-child p,
.three-child p {
  font-size: 10px;
}

.heading {
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: 800px;
}

.button {
  position: relative;
}

.button button {
  position: absolute;
  color: rgb(249, 56, 56);
  width: 100%;
  margin: auto auto 0 auto;
  inset: 0;
  height: fit-content;
  border: none;
  border: 1px solid rgb(169, 164, 164);
  padding: 0.4rem;
  background: #fcfaff;
  font-weight: 600;
  border-radius: 0px 0px 10px 10px;
  /* border-radius: none; */
}

.third-role {
  display: grid;
  grid-template-columns: 1fr;
  /* margin-bottom: 30px; */
}

.container-child {
  margin-bottom: 20px;
}

.right {
  
}